body {
  background-color: #232323;
  font-family: "montserrat", "avenir";
  margin: 0;
}
.container {
  padding: 20px, auto;
  max-width: 600px;
  margin: 0 auto;
}
.square {
  width: 30%;
  background: purple;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
  border-radius: 50%;
  transition: background 0.8s;
}
#notification {
  height: 30px;
  background: white;
  text-align: center;
  color: black;
}
h1 {
  color: white;
  text-align: center;
  background: steelblue;
  margin: 0;
  font-weight: normal;
  line-height: 1.1;
padding: 20px 0;
text-transform: uppercase;

}
.selected {
  background: steelblue;
  color: white;
  font-size: inherit;
}
button {
  background: none;
  border: none;
  height: 100%;
  color: steelblue;
  transition: background 0.8s;
  text-transform: uppercase;
  font-weight: 700px;
}
button:hover {
  background: steelblue;
  color: white;
}
#message {
  display: inline-block;
  width: 20%;
  color: steelblue;
}
#colorDisplay {
  font-size: 200%;
}
